$red:red;
$light-grey: #eaeaeb;
$dark-grey: #464646;
$blue: blue;

%no-decoration{text-decoration: none;}
%u-decoration{text-decoration: underline;}


@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: 0;
  
}

.header{

  font-family: Arial, Helvetica, sans-serif;
    
  &__logo{
    
    text-align: center; 
  }

  &__img{

    max-width: 350px;
  }

  .menu{

    &__list{
      display: flex;
      justify-content: center;
      border-top: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      padding: 20px 0;
      margin-top: 30px  ;

    }

    &__links{

      position: relative;

      &:not(:last-chield)::after{

        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -3 px;
        margin: auto;
        height: 15px;
        width: 1px;
        background-color: $light-grey
      
      
      }

    }
    &__link{

      padding:25px;
      color: $dark-grey;
      text-decoration: none;
      text-transform: uppercase;
      &:hover{

        color: $red;
        
      }
    
    }
    
  }


}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;

   &__content{
     width: 70%;
     padding: 40px ;

   }  

   &__post{
     text-align: center;
     max-width: 800px;
     margin-left: auto;
     margin-right: auto;
   }

   &__title{
     text-decoration: none;
     font-size: 22px;
     color : $dark-grey;
     letter-spacing: 1.5px;

     &:hover{

      color: $red;
      
     }

    
    
   }

   &_subtitle{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     margin-bottom: 20px;
   }

   
  &__date{
    margin: 0 10px;
    font-size: 12px;
    font-style: italic;

  }

  &__tag{
    font-size: 14px;
    padding: 5px 7px;
    color: $red;
    border: 1px solid $red;
    margin: 0 10px;

  }

  &__details{

    border: 1px solid $light-grey;
  }

  &__img{

    width: 40%;

  }

  &__description{
    padding: 50px 40px 20px;
    max-width: 650px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;

  }

  &__btn{

    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: white;
    background-color: $red;
    padding: 10px 20px;
    border-radius: 3px;
    
  }

  &__info{

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $light-grey;
    margin-top: 30px;
  }

  &__author{
    width: 50%;
    border-right: 1px solid $light-grey;

  }

  &__p{

    font-size: 14px;
    color: $dark-grey;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  
  &__comments{
    width: 50%;
    
  }

  &__a{
    text-decoration: none;
    font-size: 14px;
    color: $dark-grey;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover{
      color: $red;

    }
  }
  &__sidebar{
    width: min-content;
    padding: 10px 10px;
    margin-right: 60px;
  }
  
  .sidebar{

    &__top{
      border: 1px solid $light-grey;
      padding: 15px 20px;
     
      
    }
    &__title{
      background-color: yellow;
      text-align: center;
      padding:10px 20px;
      margin: 0;
      letter-spacing: 1.5px;

    }
    &__posts{
      margin : 0;
      padding: 0;
      list-style:none;


    }

    &__list{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      padding: 15px 0;
      &:not(:last-child){
        border-bottom: 1 px dashed $light-grey;
      }

    }

      &__img{

        width: 200px;
      }

      &__details{
        width: 90%;
        padding-left: 10px;
        text-align: center;
        

      }

      &__post-title{

        font-size: 14px;
        color: $red;
      
        @extend %no-decoration;
        &:hover{

          @extend %u-decoration;

        }
        
      }

      &__post-date{
        font-size: 12px;
        margin: 5px 0 0 0;

      }
    
    
    

  }
 
  
}



.footer{
  text-align: center;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: relative;


  &__logo{

    max-width: 100px;
  }
    &__text{
    margin: auto;
    font-size: 14px;
  }

  
}

.about{

  width: 80%;
  margin: 0 auto 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
  

  &__title{
    background-color: $light-grey;
    text-align: center;
    padding: 20px;

  }

  &__h1{
    font-size: 22px;
    color: $dark-grey;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;

  }

  .breadcrumb{
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__link{
      font-size: 12px;
      text-decoration: none;
      color:$dark-grey;

        &:hover{
          text-decoration: underline;
          color: $red;
        }
    }
    &__img{

    width: 70px;
    margin: 8px;
    }


   }
  &__img{

    width: 50%;
    margin-bottom: 20px;
    
  }

  &__intro{
    font-weight: 100;
    color: $dark-grey;
    width: 50%;
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
    text-shadow: black 3px 2px 3px;
   

  }

  &__split{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;


  }

  &__img2{

    width: 40%
  }&__txt{

    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: calc(100% - 45%);
    white-space: pre-line;
    text-align: left;
  }

  
   
}




  
 
  



  
